<div class="container-fluid">
  <div *ngIf="launches?.length == 0">
    <div class="alert alert-info" role="alert">
      <h4>No se ha encontrado ningún lanzamiento</h4>
    </div>
  </div>
  <div *ngIf="launches?.length > 0">
    <table class="table table-hover">
      <thead>
      <tr>
        <th scope="col">ID</th>
        <th scope="col">NAME</th>
        <th scope="col">DATE LAUNCH</th>
        <th scope="col"></th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let launch of launches;">
        <td scope="row">{{launch.id}}</td>
        <td scope="row">{{launch.name}}</td>
        <td scope="row">{{ launch.isostart | date:'medium'}}</td>
        <td>
          <button class="btn btn-primary" (click)="onLanzamientoSeleccionado(launch)">
            Ver detalle
          </button>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
